.a-link{
  list-style-type: none;
  font-size: 28px;
  background-color: yellow;
  padding: 2px 2px;
  text-align: center;
  border: 2px solid black;
  max-width: 150px;
  margin: 2px 2px;
  color: black;
  text-decoration: none;
}

.a-link:hover{
  background-color: grey;
  opacity: 0.7;
  text-decoration: none;
}

li{
  list-style: none;
  display: inline;
}
