.a-link{
  list-style-type: none;
  font-size: 28px;
  background-color: yellow;
  padding: 2px 2px;
  text-align: center;
  border: 2px solid black;
  max-width: 150px;
  margin: 2px 2px;
  color: black;
  text-decoration: none;
}

.a-link:hover{
  background-color: grey;
  opacity: 0.7;
  text-decoration: none;
}

.nav-bar{
  float: right;
}

.game-div{
  display: inline-block;
  background-color: #eeecec;
  width: 100%;
  border: 1px 2px;
  margin: 2px 4px;
}

h2{
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

li{
  list-style: none;
  display: inline;
}
