.a-link{
  font-size: 26px;
  text-align: center;
  min-width: 35%;
  max-width: 150px;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
  text-decoration: none;
}

.a-link:hover{
  background-color: grey;
  opacity: 0.7;
  text-decoration: none;
}

.nav-bar{
  float: right;
}

.menu-bar{
  list-style-type: none;
  background-color: yellow;
  border-bottom: solid black;
  border-top: solid black;
  border-radius: 4px;
  align-items: center;
}

.game-div{
  display: inline-block;
  background-color: #eeecec;
  width: 100%;
  border: 1px 2px;
  margin: 2px 4px;
}

.body1-div{
  background-color: blue;
  border: solid;
  height: 20px;
}

h2{
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

li{
  list-style: none;
  display: inline;
}
